@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* common css  start*/
.container {
    max-width: 1600px;
    font-family: "Quicksand", serif;
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
}
.menubar{
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>img {
    /* Group */
    width: 25px;
    height: 25px;
    left: 74.86%;
    right: 5.9%;
    top: 241.67%;
    bottom: -178.6%;
}

.logo>h2 {
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}

.list>ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

#H {
    color: Orange;
}

#AB {
    color: rgb(1, 172, 253);
}

#F {
    color: rgb(5, 212, 223);
}

#AD {
    color: rgb(93, 88, 239);
}

.contact-btn button {
    background-color: Orange;
    font-family: "Quicksand", serif;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 10;
    margin: auto;
    padding: 10px;
    border: none;
    color: aliceblue;
}



.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     gap: 12px;
}
.left{
    text-align: left;
    text-align: left;
    
}
.left > h6 {
     color: rgb(17, 17, 17);
     margin-top: 24px;

}

.left > button{
    background-color: rgb(17, 17, 17);
    font-family: "Quicksand", serif;
    border-radius: 12px;
    align-items: left;
    gap: 10;
    margin: 24px 0;
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
}


/*******************************************************
**********************std_curiculam********************/
.std_curiculam{
  background-image: url(./assets/bg.png);
  height: 500px;

}
@media screen and (max-width: 576px) {
    .banner {
       
        flex-direction: column-reverse;
        align-items: center;
         gap: 12px;
    }
    .logo{
         display: flex;
    }

    .logo>h4 {
        display: none;
    }

    .list {
        display: none;
    }

    .contact-btn {
        display: none;
    }
    .left{
        text-align: center;
    }
    .left button{
        display: inline-block;
    }

}

